
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

html body{
    min-height: 100vh;
    width: 100%;
}

header.cabecalho{
    width: 100%;
    height: auto;
    background-color:  #f3f3f3;
    box-shadow: 0 0 4px #00000012;
}

nav#menu{
    list-style: none;
    color: #505050af;
    letter-spacing: .2em;
    font-size: 16px;
    padding: 15px;
}

nav#menu ul{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
}

nav#menu li a{
    text-decoration: none;
    color: #505050af;
    padding: 0 10px;
    cursor: pointer;
    transition: .3s ease-out;
    font-weight: normal;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

nav#menu .icon{
    font-size: 20px;
    margin-right: 20px;
    color: black;
}

.overlay{
    position: fixed;
    top: 6%;
    height: 0;
    width: 100%;
    transition: .5s ease;
    background-color:  #f3f3f3;
    box-shadow: 0 0 4px #3333336b;
    opacity: 0; 
    transition: .4s ease;
    visibility: hidden;
    z-index: 999;
}

.cabecalho:hover .overlay{
    height: 45vh;
    opacity: 1;
    box-shadow: none;
    visibility: visible;
}

.baixo-cima{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    z-index: -999;
    flex-wrap: wrap;
    padding: 0 20px;
    margin-top: 30px;
}

.baixo-cima input{
    border: 1px solid #00000065;
    outline: none;
    background: #33333340;
    text-align: left;
    padding: 10px 22px;
    border-radius: 10px; 
   margin-bottom: 150px;
}

.baixo-cima p{
    text-decoration: none;
    color: #333;
    padding: 3px 0;
 }

 .baixo-cima a{
    text-decoration: none;
    color: #333;
 }

 .baixo-cima #icon-overlay{
    width: 100px;
    height: 100px;
    position: absolute;
    top: 57%;
    left: 16.5%;
    transform: translate(-50%, -50%);
    filter: drop-shadow(5px 5px 10px #00000053);
 }

 .baixo-cima #icon-pesquisa{
    font-size: 1.2rem;
    position: absolute;
    top: 28.5%;
    left: 22.5%;
    color: #505050af;
 }

.baixo-cima .parte1,.parte2,.parte3,.parte4{
    font-size: 1.2em;
}

/*--------------------*/

div.segundo-menu{
    width: 100%;
    height: auto;
    background-color: #fff;
    margin-top: 10px;
}

div.segundo-menu  .menu2{
   width: 100%;
   list-style: none;
}

div.menu2 img{
    max-width: 80px;
    max-height: 80px;
    display: flex;
}

.aumento{
    height: 100px;
}

.aumento1{
  margin-top: 20px;
}

.menu2 ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    margin-top: 25px;
    text-align: center;
    padding-bottom: 5px;
}

.menu2 ul li a{
    text-decoration: none;
    color: #505050af;
    font-weight: bold;
}

.menu2 ul li a:hover{
    transition: all ease-in-out 0.2s;
    color: blue;
}

.menu2 em{
  margin-top: 5px;
  color: rgb(194, 44, 44);
  font-style: normal;
  margin-left: -15px;
}
/*-----------------------------*/
section{
    width: 100%;
    margin-top: 120px;
    text-align: center;
    background-color:  #f3f3f3;
    position: relative;
}

section .parcelas p{
    font-family: 'Times New Roman', Times, serif;
    color: #333;
    font-size: 18px;
    padding: 10px 0;
}

section .imagem img{
   width: 100%;
   height: 600px;
   background-position: center;
   background-repeat: no-repeat;
   background-size: cover;
}

.preco{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

div.preco h1,h2{
    color: #fff;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

div.preco h1{
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 50px;
    color: rgb(185, 185, 185);
    text-shadow: 2px 1px 0 #00000065;
}

div.preco h2{
    margin-bottom: -30px;
}

div.preco strong{
    color: orange;
    margin-top: -350px;
}

div.preco div a{
    color: #fff;
    text-decoration: none;
    background-color: rgb(60, 60, 186);
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 40px;
}

.ancora{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    gap: 20px;
}

.ancora .normal{
    color: rgb(70, 153, 236);
    background-color: transparent;
    font-size: 24px;
    text-align: center;
}

.ancora .normal:hover{
    text-decoration: underline;
    font-weight: bold;
}
/*--------------*/

main.principal{
    width: 100%;
    height: 600px;
    background: url(imagens/img-principal.jpg);
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
    position: relative;
}

main.conteudo-text{
   position: absolute;
}

.conteudo-text h1,p{
    color: #fff;
    text-align: center;
}

.conteudo-text h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: bold;
    letter-spacing: -0.8px;
    font-size: 3em;
    background-image: linear-gradient(to left, red,orange,blue,green);
    width: 20%;
    margin: 3px auto;
    border-radius: 8px;
    text-shadow: 2px 2px 0.8px #000;
}

.conteudo-text p{
    line-height: 2;
    font-size: 1.5em;
}

.conteudo-text a{
   color: #f3f3f3;
   text-align: center;
   text-decoration: none;
   margin-left: 35px;
   margin-right: -15px;
}

.conteudo-text .normal{
    color: rgb(66, 160, 255);
    background-color: transparent;
    font-size: 24px;
    text-align: center;
    text-shadow: 2px 2px 0.8px #000000c3;
    text-transform: uppercase;
}

.conteudo-text .compra{
    color: #fff;
    text-decoration: none;
    background-color: rgb(60, 60, 186);
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 40px;
}
/*------------------------*/

article{
    position: relative;
    background: url(imagens/img-applewh.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    margin-top: 1px;
}

article .conteudo-text2{
   position: relative;
}

article .conteudo-text2 h1{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
    font-size: 3em;
}

article .conteudo-text2 p{
    font-size: 2em;
    font-variant: small-caps;
    letter-spacing: 1.5px;
    color: #ff3916;
    font-family: monospace;
    line-height: 1.5;
}

article .conteudo-text2 #branco{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-variant: normal;
    font-weight: normal;
    padding-top: 5px;
    font-size: 1.8em;
}

.conteudo-text2 a.normal{
    color: rgb(66, 160, 255);
    background-color: transparent;
    font-size: 24px;
    font-variant: small-caps;
    text-align: center;
    text-shadow: 2px 2px 0.8px #000000c3;
    margin-right: 28px;
    text-decoration: none;
}

.conteudo-text2 .compra{
    color: #fff;
    text-decoration: none;
    background-color: rgb(60, 60, 186);
    border: none;
    outline: none;
    cursor: pointer;
    display: inline-block;
    padding: 5px 20px;
    font-size: 20px;
    border-radius: 40px;
    margin-top: 15px;
}
/*-----------------------------*/
 div.video{
    width: 100%;
    height: auto;
    margin-top: 0px;
 }

 div.video video{
    width: 100%;
 }